@model IEnumerable<PrograAvanzada.Models.foro>

<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Nombre del Proyecto:")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.proyecto.nombre_proyecto)
        </td>
        <td>
            @*@Html.ActionLink("Edit", "Edit", new { id=item.id_foro }) |
            @Html.ActionLink("Details", "Details", new { id=item.id_foro }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id_foro })*@
        </td>
    </tr>
}

</table>
