@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">Solo se aceptan usuarios cuyo correo sea del dominio de gmail.com.</h2>

