
@{
    ViewBag.Title = "Foro";
}

<h2>Foro de Proyectos...</h2>


<script type="text/javascript" src="~/Scripts/jquery-3.1.0.min.js"></script>
<script type="text/javascript">

$(function () {
    $('#f5').click(function () {
        $("#myPartialViewContainerComentarios").load('http://localhost:2005/comentarios_foro/FullIndex')
    });
});
</script>

<script type="text/javascript" src="~/Scripts/jquery-3.1.0.min.js"></script>
<script type="text/javascript">
$(function () {
    $('#nuevo').click(function () {
        $("#myPartialViewContainerCreate").load('http://localhost:2005/comentarios_foro/Create')
    });
});
</script>

<div>
    <div id="myPartialViewContainerComentarios">
        <h3>Comentarios</h3>
        @Html.Action("Index2", "comentarios_foro", new { codForo = ViewBag.IdValue })
    </div>
</div>

<button id="f5" class="btn btn-primary">Actualizar Comentarios</button>
<button id="nuevo" class="btn btn-warning">Otro Comentario</button>

<div>
    <div id="myPartialViewContainerCreate">
        <h3>Agregar Comentario</h3>
        @Html.Action("Create", "comentarios_foro", null)
    </div>
</div>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
