@{
    ViewBag.Title = "Index";
    
}

<h2>Nombre del Foro</h2>
@Html.Action("Index","foro")

<h2>Comentarios</h2>
@Html.Action("Index", "comentarios_foro", new { codForo = 1 })


<h2>Agregar Comentario</h2>
@Html.Action("Create","comentarios_foro", null)



<script type="text/javascript" src="~/Scripts/jquery-3.1.0.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
    setInterval(function () {
        $("#notificationsTable").load("~/Views/ForoPlantilla/Index.cshtml");
    }, 2000);
    });
 </script>